name: Conventional Commits

on:
  pull_request:
    branches:
        - main

permissions:
    contents: read

env:
  NX_NO_CLOUD: true

jobs:
  build:
    name: Conventional Commits
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: webiny/action-conventional-commits@v1.3.0